#canvasA {
  position: absolute;
  border: 1px solid blue;
  z-index: 10;
}

#c {
  opacity: 0.4;
}

#matrix {
  background: black;
}

p {
  color: red;
}

#arrow {
  position: absolute;
  width: 30px;
  height: 30px;
}

.matrix{
  background: black;
}
