#game {
  overflow: hidden;
}

#canvasA {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#c {
  opacity: 0.75;
  overflow: hidden;
}

#matrix {
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.matrixRegular {
  background: rgba(48, 48, 48, 0.80);
}

.matrixDamaged {
  background: rgba(120, 30, 30, 0.9);
}

#switch {
  border-radius: 50%;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 465px;
  width: 465px;
  opacity: 0.9;
  z-index: 0;
  overflow: hidden;
}

#bubble {
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 465px;
  width: 465px;
  opacity: 0.0;
  z-index: 0;
  overflow: hidden;
}


p {
  color: red;
}

#arrow {
  position: absolute;
  width: 30px;
  height: 30px;
}

.matrix{
  background: black;
}

.overlayHidden {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
}

.overlay {
     position: fixed;
     background: rgba(0, 0, 0, 0.5);
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 11;
     color: white;
}

.overlayBlack {
     position: fixed;
     background: rgba(0, 0, 0, 1);
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 11;
     color: white;
}

.menuOverlay {
     position: fixed;
     background: rgba(0, 0, 0, 0.1);
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 11;
     color: white;
}

#deathBoxShower {
     display: flex;
     flex-direction: column;
     align-items: center;
}

#menuBoxShower {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 38%;
     z-index: 12;
}

#backToMenu {
  position: absolute;
  left: 1em;
  top: 3em;
}

#instructionShower {
    background-image: url("instructions.png");
    background-repeat: no-repeat;
    width: 811px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-top: 1em;
}

button {
  min-width: 9em;
  font-size: 75%;
  color: white;
  background: black;
  margin: 2em;
  padding: 1em;
  outline: none;
  border: 1px solid #05ad1b;
  z-index: 13;
}
